{% extends "base.html" %}

{% block title %}Описание{% endblock %}

{% block content %}
<h1>Основные шаги создания Flask-приложения:</h1>
<ol>
    <li>Создание виртуального окружения: <code>python -m venv venv</code></li>
    <li>Активация окружения и установка Flask: <code>pip install flask</code></li>
    <li>Создание файла <code>app.py</code> с маршрутами</li>
    <li>Создание папки <code>templates</code> и HTML-шаблонов</li>
    <li>Запуск сервера: <code>flask run</code> или <code>python app.py</code></li>
</ol>
{% endblock %}
