.venv
.git
.docx
__pycache__
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.egg
*.pyproj
*.sln
*.suo
*.user
*.userprefs
*.sdf
*.sdfpp
*.opensdf
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.filters
*.filters.xml